{
  "main_credentials": [
    {
      "protection_enablement": "no",
      "protection_policy": "test",
      "db_directory": "/history/protector",
      "protected_directory": "/worm",
      "protection_username": "protector",
      "protection_user_sid": "S-1-5-21-763826133-1371112608-1678046255-1110",
      "5min_snapshot_policy_id": "18",
      "daily_snapshot_policy_id": "19",
      "weekly_snapshot_policy_id": "20",
      "monthly_snapshot_policy_id": "21"
    },
    {
      "protection_enablement": "yes",
      "protection_policy": "deneme",
      "db_directory": "/history/protector",
      "protected_directory": "/vakif",
      "protection_username": "protector",
      "protection_user_sid": "S-1-5-21-763826133-1371112608-1678046255-1110",
      "5min_snapshot_policy_id": "22",
      "daily_snapshot_policy_id": "23",
      "weekly_snapshot_policy_id": "24",
      "monthly_snapshot_policy_id": "25"
    }
  ]
}
